#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    text-align: center;
    grid-column-start: 2;
}

.header-button {
    text-align: center;
    grid-column-start: span 3;
}

.monkey-img,
.input-section {
    text-align: center;
    grid-column-start: span 3;
    margin-top: 20px;
}

#monkey {
    max-width: 200px;
    max-height: 200px;
}