@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

body, input, select, textarea {
  color: #777;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
}

header {
  padding: 2.3rem;
  color: white;
  background-image: linear-gradient(
    to right bottom,
    rgba(68, 68, 68, 0.5),
    rgba(87, 87, 87, 0.5)),
    url(./assets/comp1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


header h1 {
  float: right;
  display: inline-block;
  margin-top: 19rem;
  font-style: italic;
}

.header-title,
.header-subtitle {
  display: block;
}

.header-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.header-subtitle {
  font-size: 1.2rem;
  display: block;
  line-height: 1rem;
  font-weight: 700;
}

.header {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

main {
  padding: 1.5rem;
}

section {
  margin: 2rem 0;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.about-text > span {
  font-size: 1rem;
  font-style: italic;
}

.divider {
  width: 90%;
}

.topic-card {
  background-color: #444;
  width: 50%;
  height: 9rem;
  margin: 0 auto 1rem;
  position: relative;
  transition: all .5s;
}

.topic-card:hover {
  cursor: pointer;
  background-color: #777;
  font-weight: 500;
  transform: scale(1.1);
}

.topic-card a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

/* Pages */
.topic-page {
  background-color: #333;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.page-header {
  padding: 1rem;
}

.main-container {
  background-color: #fff;
  width: 98%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 2rem;
}

.page-title {
  display: inline-block;
  margin-left: 1rem;
  color: lightgray;
  font-weight: 100;
  font-size: 1.8rem;
}

a.link {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

a.link:hover {
  text-decoration: underline;
}

a.topic-link {
  color: #000;
  font-weight: 700;
  font-style: oblique;
}
a.topic-link::after { content: "'"; }
a.topic-link::before { content: "'"; }


pre.problem-explanation {
  background-color: #eee;
  border: 1px solid #777;
  border-radius: 7px;
  font-size: .85rem;
}

.explanation {
  margin: 2rem 0;
  vertical-align: bottom;
}

.code {
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 7px;
  color: #000;
  font-family: 'monospace';
  font-size: .85rem;
  max-height: 290px;
}

.inline {
  display: inline-block;
}

/* Javascript Objects */
.bookform {
  width: 50%;
}

.bookform input {
  display: block;
}

.bookform button {
  width: 10em;
  height: 1.5em;
  background-color: rgba(68, 68, 68, 0.5);
  color: white;
  font-size: 1.5rem;
  border-radius: 7px;
  margin: 17px;
}

#books {
  list-style: upper-roman;
  margin-left: 2rem;
}

#books > li { transition: all .2s; }
#books > li:hover {
  cursor: pointer;
  color: #7d53a8;
  font-weight: 500;
  font-size: 1.8rem;
  transform: skewX(-0.02turn);
}

/* AJAX */
.btn {
  width: 15rem;
  padding: .5rem;
  margin-bottom: 1rem;
  background: #7d53a8;
  color: white;
  font-size: 1.2rem;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 1px 3px 5px black
}

.ajax-data > div {
  padding: 0 2rem;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

.row {
  display: block;
  margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .header {
    height: 100vh;
    position: fixed;
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .row {
    display: flex;
  }

  main {
    margin-left: 33.33%;
  }

  header h1 {
    animation: moveInRight 2s ease-out;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .header-title {
    font-size: 1.7rem;
  }
  
  .header-subtitle {
    font-size: 1.4rem;
  }

  section p {
    margin: 0 auto;
    font-weight: 100;
  }

  .topic-card {
    display: inline-block;
    margin: 1rem;
  }

  p > strong {
    font-size: 1.6rem;
    font-style: italic;
  }

  pre.problem-explanation, .code {
    font-size: 1.3rem;
  }

  .explanation {
    margin-right: 2rem;
  }

  .flexible{
    display: flex;
    justify-content: space-between;
  }
  .explanation-left {
    max-width: 40rem;
    margin-top: 0;
    margin-left: 2rem;
  }

}



/* animations */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  } 
}
